# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/build.gradle
android/gradle.properties
android/gradlew
android/gradlew.bat
android/settings.gradle
android/app/BUCK
android/app/build_defs.bzl
android/app/build.gradle
android/app/debug.keystore
android/app/proguard-rules.pro
android/app/src/debug/AndroidManifest.xml
android/app/src/debug/java/com/sample3/ReactNativeFlipper.java
android/app/src/main/AndroidManifest.xml
android/app/src/main/java/com/sample3/MainActivity.java
android/app/src/main/java/com/sample3/MainApplication.java
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/styles.xml
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
__tests__/App-test.js
ios/Podfile
ios/sample3/AppDelegate.h
ios/sample3/AppDelegate.m
ios/sample3/Info.plist
ios/sample3/LaunchScreen.storyboard
ios/sample3/main.m
ios/sample3/Images.xcassets/Contents.json
ios/sample3/Images.xcassets/AppIcon.appiconset/Contents.json
ios/sample3.xcodeproj/project.pbxproj
ios/sample3.xcodeproj/xcshareddata/xcschemes/sample3.xcscheme
ios/sample3Tests/Info.plist
ios/sample3Tests/sample3Tests.m
